body {
  background-color: #222;
  color: #ef6c00;
  text-align: center;
}
body #app {
  width: max-content;
  margin: 0 auto;
}
body #app button {
  background-color: #444;
  border: 0;
  color: #ef6c00;
  cursor: pointer;
  font-size: 24pt;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}
body #app button:hover {
  background-color: #555;
}
body #app h2 {
  border-bottom: 2px solid #ef6c00;
  margin: 0;
  margin-bottom: 1rem;
}
body #app span.green {
  color: #00c853;
}
body #app span.red {
  color: #f44336;
}
body #app table {
  border-collapse: collapse;
}
body #app td {
  padding: 0.5rem 1rem;
  text-align: left;
}
body #app td:first-child {
  border-right: 2px solid #ef6c00;
}
body #app #global-table {
  background-color: #444;
  margin: 0.5em auto;
  padding: 1em;
  width: calc(100% - 3rem);
}
body #app #global-table table {
  width: 100%;
}
body #app #global-table table td:first-child {
  width: auto;
}
body #app #org-tables {
  display: flex;
  justify-content: center;
}
body #app #org-tables > div {
  background-color: #444;
  margin: 0.5rem;
  padding: 1rem;
}