<!DOCTYPE html>
<html>
  <head>
    <title>CASA prod metrics</title>
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Open the console to check if all the data loaded</h1>
      <div id="org-tables">
        <div v-for="(orgStats, orgName) in orgs">
          <h2>{{ orgName }}</h2>
          <table>
            <tbody>
              <tr>
                <tr v-for="(stat, label) in orgStats">
                  <td>{{ label }}</td>
                  <td>
                    {{ stat.savedValue }}
                    <span
                      :class="diffs.orgs[orgName][label] < 0 ? 'red' : 'green'"
                      v-if="diffs.orgs[orgName][label] !== 0">

                      ({{ (diffs.orgs[orgName][label] < 0 ? "" : "+") + diffs.orgs[orgName][label] }})
                    </span>
                  </td>
                </tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="global-table">
        <h2>Global Stats</h2>
        <table>
          <tbody>
            <tr v-for="(stat, label) in global">
              <td>{{ label }}</td>
              <td>{{ stat.savedValue }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="js/index.js"></script>
</html>
