<!DOCTYPE html>
<html>
  <head>
    <title>CASA prod metrics</title>
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="js/vue.min.js"></script>
  </head>
  <body>
    <noscript>
      <h1>Javascript Required</h1>
    </noscript>
    <div id="app">
      <h1>Open the console to see load errors</h1>
      <h1 v-if="meta['last updated'] instanceof Date">{{ `Last updated ${Math.round((new Date() - meta['last updated']) / 86400000)} days ago` }}</h1>
      <div id="org-tables">
        <div v-for="org in orgs">
          <h3>{{ org.name }}</h3>
          <table>
            <tbody>
              <tr v-for="(stat, label) in org.metrics" :class="requests[label]">
                <td >{{ label }}</td>
                <td>
                  {{ stat.savedValue }}
                  <span
                    :class="diffs.orgs[org.name][label] < 0 ? 'red-text' : 'green-text text-accent-4'"
                    v-if="diffs.orgs[org.name][label] !== 0">

                    ({{ (diffs.orgs[org.name][label] < 0 ? "" : "+") + diffs.orgs[org.name][label] }})
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="global-table">
        <h3>Global Stats</h3>
        <table>
          <tbody>
            <tr v-for="(stat, label) in global" :class="requests[label]">
              <td>{{ label }}</td>
              <td>
                {{ stat.savedValue }}
                <span
                  :class="diffs.global[label] < 0 ? 'red-text' : 'green-text text-accent-4'"
                  v-if="diffs.global[label] !== 0">

                  ({{ (diffs.global[label] < 0 ? "" : "+") + diffs.global[label] }})
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button @click="save">Update(to localstorage)</button>
      <h1>Backup Script</h1>
      <p>(paste into console on the page)</p>
      <textarea readonly v-model="backup"></textarea>
      <button @click="download">Download Backup</button>
    </div>
  </body>
  <script src="js/index.min.js"></script>
</html>
