<!DOCTYPE html>
<html>
  <head>
    <title>CASA prod metrics</title>
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="org-tables">
        <div>
          <h2>Prince George</h2>
          <table>
            <tbody>
              <tr>
                <tr v-for="(stat, label) in orgs[0]">
                  <td>{{ label }}</td>
                  <td>{{ stat[1] }}</td>
                </tr>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h2>Montgomery</h2>
          <table>
            <tbody>
              <tr>
                <tr v-for="(stat, label) in orgs[1]">
                  <td>{{ label }}</td>
                  <td>{{ stat[1] }}</td>
                </tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="global-table">
        <h2>Global Stats</h2>
        <table>
          <tbody>
            <tr v-for="(stat, label) in global">
              <td>{{ label }}</td>
              <td>{{ stat[1] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="js/index.js"></script>
</html>
