body {
  background-color: #222;
  color: #ef6c00;
  text-align: center;

  #app {
    width: max-content;
    margin: 0 auto;

    button {
      background-color: #444;
      border: 0;
      color: #ef6c00;
      cursor: pointer;
      font-size: 24pt;
      padding: 0.5rem;
      width: calc(100% - 1rem);

      &:hover{
        background-color: #555;
      }
    }

    h2 {
      border-bottom: 2px solid #ef6c00;
      margin: 0;
      margin-bottom: 1rem;
    }

    span {
      &.green {
        color: #00c853;
      }

      &.red {
        color: #f44336;
      }
    }

    table {
      border-collapse: collapse;
    }

    td {
      padding: 0.5rem 1rem;
      text-align: left;

      &:first-child {
        border-right: 2px solid #ef6c00;
      }
    }

    textarea {
      background-color: #444;
      border: 0;
      color: #ef6c00;
      padding: 1rem;
      width: calc(100% - 3rem);
    }

    #global-table {
      background-color: #444;
      margin: 0.5em auto;
      padding: 1em;
      width: calc(100% - 3rem);

      table {
        width: 100%;

        td:first-child {
          width: auto;
        }
      }
    }

    #org-tables {
      display: flex;
      justify-content: center;

      &>div{
        background-color: #444;
        margin: 0.5rem;
        padding: 1rem;
      }
    }
  }
}
