:root {
  --main-color: #ff9800;
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ubuntu_mono/UbuntuMono-Regular.ttf) format("ttf");
}

body {
  background-color: #222;
  color: var(--main-color);
  text-align: center;

  #app {
    width: max-content;
    margin: 0 auto;

    button {
      background-color: #444;
      border: 0;
      color: var(--main-color);
      cursor: pointer;
      font-size: 24pt;
      padding: 0.5rem;
      width: calc(100% - 1rem);

      &:hover{
        background-color: #555;
      }
    }

    h3 {
      border-bottom: 2px solid var(--main-color);
      margin: 0;
      margin-bottom: 1rem;
    }

    table {
      border-collapse: collapse;

      td {
        font-weight: bold;
        padding: 0.5rem 1rem;
        text-align: left;

        &:first-child {
          border-right: 2px solid var(--main-color);
        }
      }

      tr {
        border-bottom: 0
      }

      tr.unloaded {
        color: #8f5e14;
      }
    }

    textarea {
      background-color: #444;
      border: 0;
      color: var(--main-color);
      font-family: "Ubuntu Mono";
      padding: 1rem;
      width: calc(100% - 1rem);
    }

    #global-table {
      background-color: #444;
      margin: 0.5em auto;
      padding: 1em;
      width: calc(100% - 1rem);

      table {
        width: 100%;

        td:first-child {
          width: auto;
        }
      }
    }

    #org-tables {
      display: flex;
      justify-content: center;

      &>div{
        background-color: #444;
        margin: 0.5rem;
        padding: 1rem;

        h3{
          padding-bottom: .5rem;
        }
      }
    }
  }
}
